{% extends "base.html" %}

{% block content %}
    <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h1>{{ blog.name }} blog dashboard</h1>
            <p>Here you can add new posts and <a href="#managePosts">manage existing ones</a>.</p>
            <p>You can see the blog page <a href="{% url posts blog.key.id blog.slug %}">here</a>.</p>
            <hr>
         </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Write a new post</h2>
            <form action="{% url blog-dashboard blog.key.id blog.slug %}" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group"> 
                        <label for="postTitle">Title:</label>
                        {{ form.title.errors }}
                        <input type="text" class="form-control" id="postTitle" name="{{form.title.name}}" placeholder="Post title">
                    </div>
                    <div class="form-group"> 
                        <label for="contentField">Content:</label>
                        {{ form.content.errors }}
                        <textarea class="form-control" id="contentField" name="{{form.content.name}}" rows="10"></textarea>
                    </div>
                    {{form.blog_id}} 
                    <button class="btn btn-primary" type="submit" >Add post</button>
                </form>
            <hr>
        </div>
    </div>
    <div class="row">
	    <div class="col-xs-offset-2 col-xs-8">
            <h2 id="managePosts">Manage your posts</h2>
	        {% for post in posts %}
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                	    <h3><a class="pull-left" href="{% url post post.key.id %}">{{post.title}}</a></h3>
                         <a class="pull-right btn btn-link" href="{% url edit-post post.key.id %}">Edit Post</a>
                        <form action="{% url delete-post %}" method="post" class="pull-right" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.key.id }}">
                            <button class="btn btn-link" type="submit" >Delete Post*</button>
                        </form>
                     </div>
                </div>
                {% if forloop.last %}
                    <div class="row">
	                    <div class="col-xs-12">
                           <hr>
	                       <p>*because of the delay in the google app engine datastore the deleted post might still appear in the page. Try a refresh.</p>
	                    </div>
                    </div>     
	            {% endif %} 
            {% empty %}
            <p>This blog has no posts yet.</p>
            {% endfor %}
        </div>
   </div>
{% endblock content %}

