{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
            <h1>Blogomatico Blogs</h1>
            <p>Choose a blog to read.</p>
	    {% for blog in blogs %}
                <h2><a href="{% url posts blog.key.id blog.slug %}">{{blog.name}}</a></h2>
            {% empty %}
                <p>No blogs have been created yet. <a href="{% url dashboard %}">Create one now</a></p>
            {% endfor %}
		</div>
	</div>
{% endblock content %}
