{% extends "base.html" %}

{% block content %}
    <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h1>Plaftorm dashboard</h1>
            <p>Here you can create blogs and manage existing ones.</p>
            <hr>
         </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form action="{% url dashboard %}" method="post" class="form-inline" role="form">
                {% csrf_token %}
                {{ form.name.errors }}
                <div class="form-group"> 
                    <label class="sr-only" for="blogName">{{ form.name.label }}</label>
                    <input type="text" class="form-control" id="blogName" name="{{form.name.name}}" placeholder="Blog name">
                </div>
                <button class="btn btn-primary" type="submit" >Create a new blog</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="row">
		<div class="col-xs-offset-2 col-xs-8">
            <h2>Current blogs</h2>
            <p>Click on a blog to access its dashboard.</p>
		{% for blog in blogs %}
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                        <h3><a class="pull-left" href="{% url blog-dashboard blog.key.id blog.slug %}">{{blog.name}}</a></h3>
                        <form action="{% url delete-blog %}" method="post" class="pull-right" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="blog_id" value="{{ blog.key.id }}">
                            <button class="btn btn-danger btn-sm" type="submit" >Delete blog*</button>
                        </form>
                    </div>
                </div>
                {% if forloop.last %}
                    <div class="row">
		               <div class="col-xs-12">
                           <hr>
		                   <p>*because of the delay in the google app engine datastore the deleted blog might still appear in the page. Try a refresh.</p>
		               </div>
                    </div>
		        {% endif %}
             {% empty %}
                 <p>No blog has been created.</p>
            {% endfor %}
		</div>
	</div>
{% endblock content %}

