{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h1>Edit post {{form.title.value}}</h1>
            <form action="{% url edit-post post.key.id %}" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group"> 
                        <label for="postTitle">Title:</label>
                        {{ form.title.errors }}
                        <input type="text" class="form-control" id="postTitle" name="{{form.title.name}}" value="{{form.title.value}}">
                    </div>
                    <div class="form-group"> 
                        <label for="contentField">Content:</label>
                        {{ form.content.errors }}
                        <textarea class="form-control" id="contentField" name="{{form.content.name}}" rows="10">{{form.content.value}}</textarea>
                    </div>
                    {{form.blog_id}} 
                    <button class="btn btn-primary" type="submit" >Modify post</button>
                </form>
            <hr>
        </div>
    </div>

{% endblock content %}

