{% extends "base.html" %}

{% block content %}
    <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h1>Write a new post</h1>
         </div>
    </div>
    <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form action="{% url new-post %}" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group"> 
                        <label for="postTitle">Title:</label>
                        {{ form.title.errors }}
                        <input type="text" class="form-control" id="postTitle" name="{{form.title.name}}" placeholder="Post title">
                    </div>
                    <div class="form-group"> 
                        <label for="contentField">Content:</label>
                        {{ form.content.errors }}
                        <textarea class="form-control" id="contentField" name="{{form.content.name}}" rows="10"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" >Create post</button>
                </form>
            </div>
    </div>
{% endblock content %}

