{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
            <h1>{{blog.name}} blog posts</h1>
        </div>
    </div>
   	{% for post in posts %}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <hr>
                <a href="{% url post post.key.id %}"><h3>{{post.title}}</h3></a>
                <p>{{post.content}}</p>
            </div>
        </div>
    {% empty %}
         <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
               <p>No posts yet. <a href="{% url blog-dashboard blog.key.id blog.slug %}">Create one now.</a></p>
            </div>
         </div>
    {% endfor %}
{% endblock content %}
