{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <a href="{% url posts post.blog.key.id post.blog.slug %}"><h1>{{post.blog.name}} blog</h1></a>
                <hr>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
            </div>
        </div>
{% endblock content %} 
